<footer class="footer content-block" role="contentinfo"><div class="wrapper">

 <a id="back-to-top" class="back-to-top ss-text-button" href="#"><span>Back to Top</span></a>

  <nav>
    <ul id="menu-footer" class="list-footer-nav clearfix">
      <li><a href="http://peteschuster.com/">Home</a></li>
      <li><a href="https://peteschuster.com/about/">About</a></li>
      <!-- <li><a href="https://peteschuster.com/portfolio/">Work</a></li>
      <li><a href="https://peteschuster.com/blog/">Blog</a></li> -->
      <!-- <li><a href="https://peteschuster.com/contact/">Contact</a></li> -->
    </ul>
  </nav>

</div></footer><!--/end .footer-->

</div><!--/end #page-wrap-->

<script src="/assets/js/main.js"></script>
</body>
</html>
