<footer class="footer content-block" role="contentinfo"><div class="wrapper">

 <a id="back-to-top" class="back-to-top ss-text-button" href="#"><span>Back to Top</span></a>

  <nav>
    <ul id="menu-footer" class="list-footer-nav clearfix">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <!-- <li><a href="/portfolio/">Work</a></li>
      <li><a href="/blog/">Blog</a></li> -->
      <!-- <li><a href="/contact/">Contact</a></li> -->
    </ul>
  </nav>

</div></footer><!--/end .footer-->

</div><!--/end #page-wrap-->
</body>
</html>
