<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">

  <title>Pete Schuster</title>

  <link rel="stylesheet" href="/assets/main.css">

  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26331940-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>

<div id="page-wrap">

<header id="top" class="header" role="banner"><div class="wrapper clearfix">

  <a class="heading4 logo" href="https://peteschuster.com/" rel="home"><span>Pete Schuster</span></a>

  <nav id="nav" class="nav" role="navigation">
    <ul id="menu-main" class="list-primary-nav"><li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a rel="author" href="https://peteschuster.com/about/">About</a></li>
      <li id="menu-item-19" class="portfolio_item-menu-item menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-19"><a href="https://peteschuster.com/portfolio/" aria-current="page">Work</a></li>
      <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="https://peteschuster.com/blog/">Blog</a></li>
      <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="https://peteschuster.com/contact/">Contact</a></li>
    </ul>
  </nav><!--/end nav-->

</div></header><!--/end .header-->
