.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 768px;
    @include box-sizing;
    @include respond-to(768) {
        padding: 0 20px;
    }
}

.content + .content {
    border-top: 1px solid $grey;
}

[class*="list-"] {
    margin-left: 0;
    list-style: none;
}

[class*="ss-grid"] {
    clear: both;
    .col {
        margin-bottom: 20px;
    }
}

@include respond-to(480) {
    [class*="ss-grid"] {
        font-size: 0;
        .col {
            padding: 0 10px;
            display: inline-block;
            vertical-align: top;
            font-size: #{$base-font-size}px; //overcome font-size 0 for inline block
            @include box-sizing;
        }
        .col-1of2:nth-child(odd) {
            padding-left: 0;
        }
        .col-1of2:nth-child(even) {
            padding-right: 0;
        }
    }
    .col-1of2 {
        width: 50%;
    }
}
