.home-about {
  display: flex;
}

.home-about__item {
  flex: 1;
}

.home-about__item--about {
  padding: 12px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
