:root {
  --color-background: #fff;
  --color-text: #000;
  --color-link: #007bff;

  @media screen and (prefers-color-scheme: dark) {
    --color-background: #222;
    --color-text: #fff;
    --color-link: #e83e8c;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}