*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: #fff;
  line-height: 1.5;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #fff;
  }
}