a {
  color: var(--color-link);
  text-decoration: underline;
}
a:hover {
  color: var(--color-link);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}