h1,
.heading1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  margin: .5em 0;
  letter-spacing: -.0125em;
  font-weight: 400;
  line-height: .9em;
}

h2,
.heading2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  line-height: 1.25em;
  font-weight: 400;
  margin: .5em 0;
}

h3,
.heading3 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
  line-height: 1.15em;
  margin: .5em 0;
}

p {
  margin-bottom: 1.25em;
}

p + p {
  margin-top: -1.25em;
  text-indent: 1.25em;
}

p,
ul,
ol {
  margin: 0 0 1.25em;
  padding: 0;
}

ul,
ol {
  margin-left: 1.5em;
}

li ul,
li ol {
  margin-bottom: 0;
}

li {
  margin: 0;
  padding: 0;
}
