.m-scene .scene_element {
    @include animation(fadeIn, $time: .25);
}

.m-scene.is-exiting .scene_element {
    -webkit-animation-direction: alternate-reverse;
    -moz-animation-direction: alternate-reverse;
    -o-animation-direction: alternate-reverse;
    -ms-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@include keyframes(fadeIn) {
    from {
        opacity: 0;
        @include transform(translateY(20px));
    }
    to {
        opacity: 1;
        @include transform(translateY(0));
    }
}