<div id="about" class="page-section tan">
  <div class="page-section__header">
    <p class="heading1 text-right--at-768">About</p>
  </div>
  <div class="page-section__content">
    <div class="content-image">
      <img width="1024" height="683" src="/assets/images/about.jpg" alt="Pete Schuster">
    </div>

    <p>I’m a front-end web developer. I enjoy building web applications with JavaScript. I live in the Philadelphia suburbs with <a href="https://www.shannoncollins.com/" target="_blank" rel="noopener noreferrer">my wife</a>, and our two kids.</p>
  </div>
</div>
