<div id="about" class="page-section tan">
  <div class="page-section__header">
    <p class="heading1 text-right--at-768">About</p>
  </div>
  <div class="page-section__content">
    <div class="content-image">
      <img width="1024" height="683" src="/assets/images/about.jpg" alt="Pete Schuster">
    </div>

    <p>I’m a front-end web developer with over eight years of experience. I live in the Philadelphia suburbs with <a href="https://www.shannoncollins.com/" target="_blank" rel="noopener noreferrer">my wife</a>, our
    5-year-old daughter, 1-year-old son, dachshund, and chinchilla.</p>

    <p>When I’m not working in Center City Philadelphia, I stay busy by doing yard work, testing out Blue Apron recipes, and
    <a href="https://www.goodreads.com/user/show/76685002-pete-schuster" target="_blank" rel="noopener noreferrer">ranking children’s books</a> from our weekly library visit. I’m always trying to learn new skills, like baking a cake for
    the first time, building a media console, or trying to teach myself piano. Now that my daughter is old enough to
    appreciate LEGOs and video games, we’ve been spending a lot of time being imaginative together. Binge-watching TV shows
    and movies, listening to podcasts and music, and reading graphic novels fills my other downtime. I also enjoy squirting
    squirrels with a water gun when they try to steal the seed from our birdhouses.</p>

    <p>I like being challenged creatively, thinking innovatively, and taking on projects from a fresh perspective.</p>
  </div>
</div>
