<div id="about" class="page-section tan">
  <div class="page-section__header">
    <p class="heading1 text-right--at-768">About</p>
  </div>
  <div class="page-section__content">
    <div class="content-image">
      <img width="1024" height="683" src="/assets/images/about.jpg" alt="Pete Schuster">
    </div>

    <p>I am a frontend web developer working in center city Philadelphia. I live in the suburbs of Philadelphia with my wife, <a href="https://www.shannoncollins.com/" target="_blank">Philadelphia Wedding Photographer</a>, Shannon, our daughter Adelaide, and several pets.</p>

    <p>I enjoy working with my hands when I can. I’m interested in gardening, permaculture, and keeping our houseplants alive. I also enjoy woodworking and trying to become a better craftsman.</p>

    <p>Bingeing TV shows, watching movies, listening to podcasts and Spotify, and playing video games fill out my other downtime.</p>
  </div>
</div>
