<h2 id="contact" class="heading1">Contact</h2>

<p class="heading2">
  <a href="mailto:hello@peteschuster.com">hello@peteschuster.com</a>
</p>

<h3>Find me elsewhere</h3>

<p>
  Active:<br />
  <a href="https://github.com/PeteSchuster/" target="_blank">GitHub</a>
  <a href="https://www.linkedin.com/in/peteschuster/" target="_blank">Linkedin</a>
  <a href="https://soundcloud.com/pete-schuster-606907582" target="_blank">SoundCloud</a>
  <a href="https://www.twitch.tv/pas5027" target="_blank">Twitch</a>
</p>

<p>
  <small>
    Inactive:<br />
    <a href="https://www.instagram.com/pete_schuster/" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/pas5027" target="_blank">Facebook</a>
  </small>
</p>
