<h2 id="contact" class="heading1">Contact</h2>

<p class="heading2">
  <a href="mailto:hello@peteschuster.com">hello@peteschuster.com</a>
</p>

<p>
  <a href="https://github.com/PeteSchuster/" target="_blank">GitHub</a>
  <a href="https://twitter.com/pete_schuster" target="_blank">Twitter</a>
  <a href="https://www.linkedin.com/in/peteschuster/" target="_blank">Linkedin</a>
  <a href="https://www.instagram.com/pete_schuster/" target="_blank">Instagram</a>
  <a href="https://www.facebook.com/pas5027" target="_blank">Facebook</a>
</p>
